* {
  margin: 0;
  text-decoration: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "nav" "main";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #a891ce;
  color: white;
  padding: 1rem 0.5rem;
}

header > h1 {
  font-size: x-large;
  font-weight: 100;
}

.tablet-container > h2 {
  margin-left: 0.5rem;
  font-size: 117%;
  font-weight: 100;
}

header > img {
  width: 13%;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
}

.tablet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablet-container > img {
  width: 20%;
}

.profile-image {
  border-radius: 50%;
}

.bell-icon-svg {
  width: 15%;
  fill: white;
  margin: 0.5rem;
}

nav {
  background-color: #3c0080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;
}

a > svg {
  fill: white;
  width: 50%;
}

#alert {
  height: 4vh;
}

.alert {
  padding: 7px;
  background-color: #a891ce;
  color: white;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.main-search {
  min-width: 70vw;
  height: 3rem;
  border-left: grey 1px solid;
  border-bottom: grey 1px solid;
  border-top: none;
  border-right: none;
  background: whitesmoke;
}

h3 {
  font-size: large;
  text-transform: uppercase;
}

.traffic {
  border-bottom: grey 1px solid;
}

.traffic-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
}

.facebook-image > svg,
.instagram-image > svg,
.twitter-image > svg {
  width: 25%;
  padding: 0 1rem;
  fill: white;
  height: 6rem;
  width: 4rem;
}

.facebook-image,
.instagram-image,
.twitter-image {
  background: #a891ce;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: whitesmoke;
  margin: 1rem 0.5rem;
  border: 1px grey solid;
  border-radius: 3%;
  padding: 1rem;
}

.social-name {
  color: #a891ce;
  font-size: larger;
}

.social-count {
  color: #494949;
  font-size: xxx-large;
}

.members-container,
.activity-container {
  margin: 2rem;
  border-bottom: grey 1px solid;
}

.members-container > p,
.activity-container > p {
  margin-bottom: 1rem;
}

.members > div,
.recent > div {
  text-align: center;
}

.members-container > .profile-image,
.activity-container > .profile-image {
  width: 40%;
}

.message > h3 {
  margin-bottom: 0.75rem;
}

.widget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #b4b4b4 1px solid;
}

.form-field,
.form-area,
.button-primary {
  width: 80%;
  margin: 0.25rem;
  border: #b4b4b4 1px solid;
  border-radius: 4%;
  background-color: whitesmoke;
}

.form-field,
.button-primary {
  height: 2rem;
}

.form-area {
  height: 5rem;
}

.button-primary {
  color: white;
  background-color: #a891ce;
  margin-bottom: 1rem;
}

.switch-light,
.switch-material {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.settings-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings-button > button {
  width: 45vw;
  height: 45px;
  margin: 0.5rem;
  color: white;
}

#cancel {
  background-color: #757575;
  border: none;
  border-radius: 4%;
}

.daily,
.mobile,
.social,
.settings {
  margin-top: 1rem;
  border-bottom: grey 1px solid;
}

@media (min-width: 768px) {
  .tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tablet-container > img {
    width: 25%;
  }
  .bell-icon-svg > svg {
    width: 3rem;
  }
  .grid-container {
    -ms-grid-columns: 60px 1fr;
        grid-template-columns: 60px 1fr;
        grid-template-areas: "header header" "nav main";
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  a > svg {
    width: 125%;
  }
  .daily,
  .mobile {
    margin-top: 0;
    border-bottom: 0;
  }
  .daily > h3,
  .mobile > h3 {
    padding-top: 1rem;
  }
  .tablet-daily-mobile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: grey 1px solid;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .daily {
    border-right: grey 1px solid;
  }
  .main-search {
    width: 75vw;
  }
  .traffic-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .traffic-nav-link {
    margin: 0.5rem;
  }
  .social-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-container {
    width: 12rem;
  }
  .social-count {
    font-size: 2.5rem;
  }
  .members-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
  }
  .members-container > .profile-image,
  .activity-container > .profile-image {
    width: 5rem;
    margin-bottom: 1.5rem;
  }
  .tablet-members-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: grey 1px solid;
    height: 8rem;
  }
  .activity-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .activity-container > .profile-image {
    margin-right: 1rem;
  }
  .recent-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tablet-recent-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .switch-light,
  .switch-material {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  label > span {
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .social-container {
    width: 25vw;
  }
  .facebook-image,
  .instagram-image,
  .twitter-image {
    height: 4rem;
    width: 4rem;
  }
  .facebook-image > svg,
  .instagram-image > svg,
  .twitter-image > svg {
    height: 4rem;
    width: 2.1rem;
  }
  .desktop-grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .activity-container {
    margin: 23px;
    margin-left: 0%;
  }
  .message,
  .settings {
    width: 480px;
  }
}
/*# sourceMappingURL=styles.css.map */